.ClearFix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ClearFix { !
  display: inline-block; !
  zoom: 1; !
  display: block;
}

.UISaveAttachment #FileNameInput {
  width: 320px;
}

.UIDocumentSelector select {
  width: 200px;
}

.UIDocumentSelector {
  font-family: verdana;
  font-size: 11px;
  margin: auto;
}

.UIDocumentSelector .RightWorkspace .Folder {
  background: url('images/folder_closed.png') no-repeat left top;
}

.UIDocumentSelector .ListContainer .RightWorkspace {
  background: #fafafa;
}

.UIDocumentSelector .ListContainer .RightWorkspace a:hover {
  color: black;
}

.UIDocumentSelector .Breadcumbs {
  padding: 8px 5px 0;
}

.UIDocumentSelector  a {
  color: black;
  text-decoration: none;
}

.UIDocumentSelector .Footer {
  margin-top: 5px;
}

.UIDocumentSelector  .BreadcumbsContainer {
  Float: left;
  margin-top: 5px;
  width: 80%;
}

.UIDocumentSelector .BreadcumbsContainer  .BreadcumbTab {
  Float: left;
  height: 26px;
}

.UIDocumentSelector .BreadcumbsContainer .BreadcumbTab a {
  padding: 3px;
  border: 1px solid #999;
  margin-left: 2px;
  background: white;
  display: block;
}

.UIDocumentSelector .BreadcumbsContainer .RightArrowIcon {
  background: url('images/RightArrowIcon.gif') no-repeat center;
  float: left;
  margin: 0px 8px 0px 0px;
  height: 16px;
  width: 16px;
}

.UIDocumentSelector .BreadcumbsContainer  .Selected {
  color: #058EE6;
  font-weight: bold;
}

.UIDocumentSelector .BreadcumbsContainer  .Nomal {
  float: left;
  display: block;
  margin: 0px 8px 0px 0px;
  text-decoration: none;
  color: black;
}

.UIDocumentSelector .RightWorkspace .THBar {
  background: #dee0e4;
  text-align: left;
  padding-left: 12px;
  border-left: 1px solid #f4f4f4;
  line-height: 20px;
}

.UIDocumentSelector .RightWorkspace .TRNoContent {
  font-style: italic;
  color: #999;
  text-align: center;
}

.UIDocumentSelector .RightWorkspace .EvenItem {
  background: #f5f4ee;
  text-align: left;
}

.UIDocumentSelector .RightWorkspace .Cell {
  cursor: pointer;
}

.UIDocumentSelector .RightWorkspace .Cell:Hover {
  background-color: #F2F8FF;
}

.UIDocumentSelector .RightWorkspace .OddItem {
  text-align: left;
  background: #f1f1f1;
}

.UIDocumentSelector .RightWorkspace .Item {
  border-left: 1px solid #f4f4f4;
  line-height: 26px;
  background-position: left 3px;
  cursor: pointer;
  padding: 2px 0 2px 20px;
}

.UIDocumentSelector .RightWorkspace .Selected {
  background-color: #E7F3FF;
}

.UIDocumentSelector .LeftWorkspace .ChildrenContainer {
  margin-left: 15px;
}

.UIDocumentSelector .LeftWorkspace .Node .CollapseIcon {
  background: url('images/CollapseIcon.gif') no-repeat scroll left center;
  height: auto;
  padding-left: 18px;
}

.UIDocumentSelector .RightWorkspace .ListView {
  border: 1px solid #e7e7e7;
  height: 220px;
  overflow: auto;
}

.UIDocumentSelector .UIDSUploadInput .ProgressBarFrame {
  float: right;
  padding: 3px 3px;
  border: 1px solid #999;
  background: white;
}

.UIDocumentSelector .UIDSUploadInput .UploadIframe iframe {
  float: right;
  width: 30px;
  height: 30px;
}

.UIDocumentSelector .UIDSUploadInput .ProgressBarLabel {
  width: 32px;
  height: 15px;
  position: static;
  float: right;
  margin-top: 2px;
}

.UIDocumentSelector .ProgressBarFrame {
  height: 18px;
}

.UIDocumentSelector .DeleteFileFrame {
  float: right;
  background:
    url('/eXoResources/skin/DefaultSkin/webui/component/UIUpload/background/Round18x18.gif')
    no-repeat;
  cursor: pointer;
  padding-left: 15px;
  height: 18px;
}

.UIDocumentSelector .NewFolder {
  float: right;
  padding: 5px 11px;
  border: 1px solid #999;
  background: white
    url('/ecmexplorer/skin/icons/24x24/DefaultSkin/AddFolder.gif')
    no-repeat 2px center;
  padding: 5px 11px 4px 11px;
  margin-top: 1px;
  margin-left: 2px;
}

.UIDocumentSelector .ActionBar {
  float: right;
  width: 100px;
}