
.UISaveAttachment #FileNameInput {
  width: 320px;
}

.UIDocumentSelector select {
  width: 200px;
}

.UIDocumentSelector {
  font-family: verdana;
  font-size: 11px;
  margin: auto;
}

.UIDocumentSelector .RightWorkspace .Folder {
  background: url('images/folder_closed.png') no-repeat left top;
}

.UIDocumentSelector .ListContainer .RightWorkspace {
  background: #fafafa;
}

.UIDocumentSelector .ListContainer .RightWorkspace a:hover {
  color: black;
}

.UIDocumentSelector .Breadcumbs {
  padding: 8px 5px 0;
}

.UIDocumentSelector  a {
  color: black;
  text-decoration: none;
}

.UIDocumentSelector .Footer {
  margin-top: 5px;
}

.UIDocumentSelector  .BreadcumbsContainer {
  margin-top: 5px;
  margin-right: 102px;
}

.UIDocumentSelector .BreadcumbsContainer  .BreadcumbTab {
  float: left;
  height: 26px;
}

.UIDocumentSelector .BreadcumbsContainer .BreadcumbTab a {
  padding: 3px 0px;
  margin-left: 2px;
  display: block;
  cursor: pointer;
}

.UIDocumentSelector .BreadcumbsContainer .RightArrowIcon {
  background: url('images/RightArrowIcon.gif') no-repeat center;
  float: left;
  margin: 0px 8px 0px 0px;
  height: 16px;
  width: 16px;
}

.UIDocumentSelector .BreadcumbsContainer  .Selected {
  color: #058EE6;
}

.UIDocumentSelector .BreadcumbsContainer  .Nomal {
  float: left;
  display: block;
  margin: 0px 8px 0px 0px;
  text-decoration: none;
  color: black;
}

.UIDocumentSelector .RightWorkspace .THBar {
  background: #dee0e4;
  text-align: left;
  padding-left: 12px;
  border-left: 1px solid #f4f4f4;
  line-height: 20px;
}

.UIDocumentSelector .RightWorkspace .TRNoContent {
  font-style: italic;
  color: #999;
  text-align: center;
}

.UIDocumentSelector .RightWorkspace .EvenItem {
  background: #f5f4ee;
  text-align: left;
}

.UIDocumentSelector .RightWorkspace .Cell {
  cursor: pointer;
}

.UIDocumentSelector .RightWorkspace .Cell:Hover {
  background-color: #F2F8FF;
}

.UIDocumentSelector .RightWorkspace .OddItem {
  text-align: left;
  background: #f1f1f1;
}

.UIDocumentSelector .RightWorkspace .Item {
  line-height: 28px;
  cursor: pointer;
  padding: 4px 0 5px 35px;
  margin-left: 10px;
}

.UIDocumentSelector .RightWorkspace .Selected {
  background-color: #E7F3FF;
}

.UIDocumentSelector .LeftWorkspace .ChildrenContainer {
  margin-left: 15px;
}

.UIDocumentSelector .LeftWorkspace .Node .CollapseIcon {
  background: url('images/CollapseIcon.gif') no-repeat scroll left center;
  height: auto;
  padding-left: 18px;
}

.UIDocumentSelector .RightWorkspace .ListView {
  border: 1px solid #e7e7e7;
  height: 220px;
  overflow: auto;
}

.UIDocumentSelector .UIDSUploadInput .ProgressBarFrame {
  float: right;
  background: url('images/BgProgress.png') repeat-x left top;
  height: 18px;
  line-height: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 3px;
}

.UIDocumentSelector .UIDSUploadInput .UploadIframe iframe {
  float: right;
  width: 30px;
  height: 30px;
}

.UIDocumentSelector .UIDSUploadInput .ProgressBarLabel {
  width: 32px;
  height: 15px;
  position: static;
  float: right;
  color: #fff;
}

.UIDocumentSelector .ProgressBarFrame {
  height: 18px;
}

.UIDocumentSelector .DeleteFileFrame {
  float: right;
  background: url('images/IconProgressBarFrame.png') no-repeat;
  cursor: pointer;
  padding-left: 10px;
  margin-left: 7px;
}

.UIDocumentSelector .NewFolder {
  float: right;
  padding: 5px 11px;
  background: url('/ecmexplorer/skin/icons/24x24/DefaultSkin/AddFolder.png') no-repeat 2px center;
  padding: 5px 11px 4px 11px;
  margin-top: 1px;
  margin-left: 2px;
}

.UIDocumentSelector .ActionBar {
  float: right;
  width: 100px;
}

.UIDocumentSelector .RightWorkspace .IconDefault{
	background: url('images/IconDocumentSelect.png') no-repeat left -210px;
}

.UIDocumentSelector .RightWorkspace .Drive_general{
	background: url('images/IconDocumentSelect.png') no-repeat left -450px;
}

.UIDocumentSelector .RightWorkspace .Drive_group{
	background: url('images/IconDocumentSelect.png') no-repeat left -570px;
}

.UIDocumentSelector .RightWorkspace .Drive_personal{
	background: url('images/IconDocumentSelect.png') no-repeat left -370px;
}

.UIDocumentSelector .RightWorkspace .Public{
	background: url('images/IconDocumentSelect.png') no-repeat left -10px;
}

.UIDocumentSelector .RightWorkspace .Private{
	background: url('images/IconDocumentSelect.png') no-repeat left -330px;
}

.UIDocumentSelector .RightWorkspace .IconAdministratorCategory{
	background: url('images/IconDocumentSelect.png') no-repeat left -490px;
}

.UIDocumentSelector .RightWorkspace .Trash{
	background: url('images/IconDocumentSelect.png') no-repeat left -530px;
}

.UIDocumentSelector .BreadcumbsContainer .HomeIcon{
	background: url('images/IconDocumentSelect.png') no-repeat left -610px;
	height: 20px;
	width: 20px;
}

.UIDocumentSelector .RightWorkspace .IconBookmark{
	background: url('images/IconDocumentSelect.png') no-repeat left -130px;
}

.UIDocumentSelector .RightWorkspace .exo_documentfolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -10px;
}

.UIDocumentSelector .RightWorkspace .exo_picturefolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -50px;
}

.UIDocumentSelector .RightWorkspace .exo_favoritefolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -90px;
}

.UIDocumentSelector .RightWorkspace .exo_videofolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -170px;
}

.UIDocumentSelector .RightWorkspace .nt_unstructured16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -210px;
}

.UIDocumentSelector .RightWorkspace .IconFolksonomy16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -250px;
}

.UIDocumentSelector .RightWorkspace .exo_searchfolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -290px;
}

.UIDocumentSelector .RightWorkspace .exo_musicfolder16x16Icon{
	background: url('images/IconDocumentSelect.png') no-repeat left -410px;
}